@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');



/* Variáveis da Página */
*{
    font-family: Merriweather;
    --color_menu_nav: #038b97;
    --color_hover: #32c8d6;
    --color_nav: white;
    --color_pagina: #70cac3; /*rgb(65, 105, 225) ,rgb(13, 33, 79), rgb(54,140,192)*/
    --color_main:#fff9e9;
    --color_rodape: white;
    --color_div_main: white;
    --color_button: #32c8d6;
}

@media (min-width: 1160px){

/* Estilo Geral */
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: var(--color_pagina);
    width: 100%;
}

/* Estilo cabeçalho */

header{
    height: 200px;
    width: 100%;
    margin-top: 1%;
    background-color: var(--color_nav);
    box-shadow: 1px 1px 3px black;
}

#logo{
    height: 200px;
    width: 200px;
    border-radius: 5px 25px 5px 25px;
    position: absolute;
    left: 4%;
    
}
#titulo{
    text-align: center;
    position: relative;
    top: 60px;
    font-size: 25px;
    font-weight: lighter;
    
}
nav{
    position: absolute;
    right: 3%;
    top: 180px;
}
nav a{
    text-decoration: none;
    font-size: large;
    position: relative;
    margin-left: 30px;
    color: var(--color_menu_nav);
}
nav a:hover{
    color: var(--color_hover);
}
#home{
    position: absolute;
    height: 40px;
    width: 40px;
    left: -15px;
    top: -7px;
}


/*Corpo da Página*/
/*Configurações da Div das imagens dentro de cards no corpo*/

main{
    background-color: var(--color_main);
    margin-left: 3%;
    margin-right: 4%;
    height: auto;
    width: auto;
    border-radius: 10px;
    width: auto;
}
main h1{
    text-align: center;
    position: relative;
    top: 40px;
    font-weight: 400;
    line-height: 80px;
}
#div_main{
    display: flex;
    justify-content: center;
    margin-right: 3%;
    
}
.control_div{
    background-color: var(--color_div_main);
    width: 300px;
    height: 370px;
    margin-left: 40px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 40px;
    box-shadow: 1px 2px 2px gray;
}
.control_img{
    width: 300px;
    height: 150px;
    display: flex;
    margin: auto;
    position: relative;
    border-radius: 10px 10px 0px 0px;
}
.control_titulo{
    text-align: center;
}
.control_p{
    text-align: justify;
    position: relative;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.button > a{
    text-decoration: none;
    color: white;
}
.button{
    background-color: var(--color_button);
    height: 30px;
    width: 100px;
    border-radius: 30px;
    position: relative;
    left: 60%;
    border: 10px;
}
.button:hover{
    background-color: #038b97;
    pointer-events: stroke;
}
#what_img{
    height: 90px;
    width: 90px;
    float: right;
    position: fixed;
    right: 1%;
    bottom: 40px;
}
#what_img:hover{
    opacity: 80%;
}

/*Configurações da Div 1 do corpo*/

#control_div_1{
    margin-top: 160px;
    width: auto;
    margin-left: 18%;
    margin-right: 18%;
    
}
#control_div_1 > h1{
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
    text-align: center;
    line-height: 40px;
}
#control_div_1 > p{
    margin-top: 80px;
    font-size: 20px;
    font-weight: 200;
}
#control_div_1 > button{
    background-color: var(--color_button);
    height: 40px;
    width: 120px;
    border-radius: 30px;
    position: relative;
    border: 10px;
}
#control_div_1_a{
    text-decoration-line: none;
    color: white;
}

/*Configurações da Div 2 do corpo*/

#control_div_2{
    margin-top: 180px;
    width: auto;
    margin-left: 18%;
    margin-right: 18%;
}
#control_div_2 > h1{
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
    text-align: center;
    margin-bottom: 80px;
}
#control_div_2 > ul > li{
    font-size: 20px;
    font-weight: 200;
}

/* Configurações Div de página de pesquisa*/

#pesq{
    background-color: white;
    margin: auto;
    width: 350px;
    height: 250px;
    border: solid 1px black;
    border-radius: 20px 4px 20px 4px;
    box-shadow: 1px 2px 2px black;
}

#h1pesq{
    margin-top: -30px;
    margin-bottom: 50px;
    line-height: 40px;
}
#ppesq{
    text-align: justify;
    padding: 10px;
}
#bntpesq{
    background-color: var(--color_button);
    height: 30px;
    width: 100px;
    border-radius: 30px;
    border: 10px;
    display: block;
    margin: auto;
}
#bntpesq:hover{
    background-color: #038b97;
    pointer-events: stroke;
}
#apesq{
    text-decoration: none;
    color: white;
}

/* Rodapé */

footer{
    background-color: var(--color_rodape);
    margin-top: 40px;
    margin-bottom: 20px;
    height: 200px;
    width: 100%;
    box-shadow: 1px 1px 5px black;
}
#control_div_rod{
    display: flex;
    justify-content: left;
}
#img_rodape{
    height: 200px;
    width: 200px; 
    border-radius: 20px;
}
.control_titulo_rod{
    font-weight: 400;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}
#control_div_rod_1{
    
    right: 50px;
    width: 200px;
    margin: auto;
}
#control_div_rod_2{
    position: relative;
    width: 400px;
    top: 20px;
    line-height: 40px;
    left: 20px;
}
#control_div_rod_3{
    position: relative;
    width: auto;
    top: 20px;
    line-height: 40px;
    left: 20px;
}
.rod_img{
    height: 20px;
    width: 20px;
    position:relative;
    right: 2px
}
.link_redes{
    text-decoration-line:none;
    color: black;

}
.link_redes:hover{
    color: var(--color_hover);
}
.link_redes:hover{
    color: var(--color_hover);
}
}


/*configurações para telas de Notebooks e tablets*/


@media screen and (max-width: 1159px) and (min-width: 980px){
    
    
    /* Estilo Geral */
    body{
        margin: 0px;
        padding: 0px;
        background-color: var(--color_pagina);
        width: 100%;
    }
    
    /* Estilo cabeçalho */
    
    header{
        height: 200px;
        width: 100%;
        margin-top: 1%;
        background-color: var(--color_nav);
        box-shadow: 1px 1px 3px black;
    }
    
    #logo{
        height: 200px;
        width: 200px;
        border-radius: 5px 25px 5px 25px;
        position: absolute;
        left: 2%;
        
    }
    #titulo{
        text-align: center;
        position: relative;
        top: 60px;
        font-size: 25px;
        font-weight: lighter;
        
    }
    nav{
        position: absolute;
        right: 4%;
        top: 180px;
    }
    nav a{
        text-decoration: none;
        font-size: large;
        position: relative;
        margin-left: 30px;
        color: var(--color_menu_nav);
    }
    nav a:hover{
        color: var(--color_hover);
    }
    #home{
        position: absolute;
        height: 40px;
        width: 40px;
        left: -15px;
        top: -7px;
    }
    
    
    /*Corpo da Página*/
    /*Configurações da Div das imagens dentro de cards no corpo*/
    
    main{
        background-color: var(--color_main); 
        height: auto;
        margin: auto;
        border-radius: 10px;
        width: 90%;
    }
    main h1{
        text-align: center;
        position: relative;
        top: 40px;
        font-weight: 400;
        line-height: 80px;
    }
    #div_main{
        display: flex;
        justify-content: center;
        margin-right: 4%;
    }
    .control_div{
        background-color: var(--color_div_main);
        width: 250px;
        height: 370px;
        margin-left: 30px;
        border-radius: 10px;
        display: inline-block;
        margin-top: 40px;
        box-shadow: 1px 2px 2px gray;
    }
    .control_img{
        width: 250px;
        height: 150px;
        display: flex;
        margin: auto;
        position: relative;
        border-radius: 10px 10px 0px 0px;
    }
    .control_titulo{
        text-align: center;
        margin-top: 2px;
    }
    .control_p{
        text-align: justify;
        position: relative;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    #buttongq{
        margin-top: 30px;
    }
    .button > a{
        text-decoration: none;
        color: white;
    }
    .button{
        background-color: var(--color_button);
        height: 30px;
        width: 100px;
        border-radius: 30px;
        position: relative;
        left: 50%;
        border: 10px;
    }
    .button:hover{
        background-color: #038b97;
        pointer-events: stroke;
    }
    #what_img{
        height: 90px;
        width: 90px;
        float: right;
        position: fixed;
        right: 0%;
        bottom: 40px;
    }
    #what_img:hover{
        opacity: 80%;
    }
    
    /*Configurações da Div 1 do corpo*/
    
    #control_div_1{
        margin-top: 160px;
        width: auto;
        margin-left: 18%;
        margin-right: 18%;
        
    }
    #control_div_1 > h1{
        border-bottom: 1px solid rgba(0, 0, 0, 0.144);
        text-align: center;
        line-height: 40px;
    }
    #control_div_1 > p{
        margin-top: 80px;
        font-size: 20px;
        font-weight: 200;
    }
    #control_div_1 > button{
        background-color: var(--color_button);
        height: 40px;
        width: 120px;
        border-radius: 30px;
        position: relative;
        border: 10px;
    }
    #control_div_1_a{
        text-decoration-line: none;
        color: white;
    }
    
    /*Configurações da Div 2 do corpo*/
    
    #control_div_2{
        margin-top: 180px;
        width: auto;
        margin-left: 18%;
        margin-right: 18%;
    }
    #control_div_2 > h1{
        border-bottom: 1px solid rgba(0, 0, 0, 0.144);
        text-align: center;
        margin-bottom: 80px;
    }
    #control_div_2 > ul > li{
        font-size: 20px;
        font-weight: 200;
    }

        /* Configurações Div de página de pesquisa*/

    #pesq{
        background-color: white;
        margin: auto;
        width: 350px;
        height: 250px;
        border: solid 1px black;
        border-radius: 20px 4px 20px 4px;
        box-shadow: 1px 2px 2px black;
    }

        #h1pesq{
        margin-top: -30px;
        margin-bottom: 50px;
        line-height: 40px;
    
        }
        #ppesq{
        text-align: justify;
        padding: 10px;
        }
        #bntpesq{
        background-color: var(--color_button);
        height: 30px;
        width: 100px;
        border-radius: 30px;
        border: 10px;
        display: block;
        margin: auto;
        }
        #bntpesq:hover{
        background-color: #038b97;
        pointer-events: stroke;
        }
        #apesq{
        text-decoration: none;
        color: white;
        }
        
        /* Rodapé */
        
        footer{
            background-color: var(--color_rodape);
            margin-top: 40px;
            margin-bottom: 20px;
            height: 200px;
            width: 100%;
            box-shadow: 1px 1px 5px black;
        }
        #control_div_rod{
            display: flex;
            justify-content: left;
        }
        #img_rodape{
            height: 200px;
            width: 200px; 
            border-radius: 20px;
        }
        .control_titulo_rod{
            font-weight: 400;
            border-bottom: 1px solid rgba(0, 0, 0, 0.144);
        }
        #control_div_rod_1{
            
            right: 50px;
            width: 200px;
            margin: auto;
        }
        #control_div_rod_2{
            position: relative;
            width: 400px;
            top: 20px;
            line-height: 40px;
            left: 20px;
        }
        #control_div_rod_3{
            position: relative;
            width: auto;
            top: 20px;
            line-height: 40px;
            left: 20px;
        }
        .rod_img{
            height: 20px;
            width: 20px;
            position:relative;
            right: 2px
        }
        .link_redes{
            text-decoration-line:none;
            color: black;
        
        }
        .link_redes:hover{
            color: var(--color_hover);
        }
        }


    /*Configurações para telas de tablets */


@media screen and (max-width: 980px) and (min-width: 640px){
    
        
        /* Estilo Geral */
        body{
            margin: 0px;
            padding: 0px;
            background-color: var(--color_pagina);
            width: 100%;
        }
        
        /* Estilo cabeçalho */
        
        header{
            height: 200px;
            width: 100%;
            margin-top: 1%;
            background-color: var(--color_nav);
            box-shadow: 1px 1px 3px black;
        }
        
        #logo{
            height: 200px;
            width: 200px;
            border-radius: 5px 25px 5px 25px;
            position: absolute;
            left: 2%;
            
        }
        #titulo{
            text-align: center;
            position: relative;
            top: 60px;
            font-size: 25px;
            font-weight: lighter;
            
        }
        nav{
            position: absolute;
            right: 4%;
            top: 180px;
        }
        nav a{
            text-decoration: none;
            font-size: large;
            position: relative;
            margin-left: 30px;
            color: var(--color_menu_nav);
        }
        nav a:hover{
            color: var(--color_hover);
        }
        #home{
            position: absolute;
            height: 40px;
            width: 40px;
            left: -15px;
            top: -7px;
        }
        
        
        /*Corpo da Página*/
        /*Configurações da Div das imagens dentro de cards no corpo*/
        
        main{
            background-color: var(--color_main); 
            height: auto;
            margin: auto;
            border-radius: 10px;
            width: 90%;
        }
        main h1{
            text-align: center;
            position: relative;
            top: 40px;
            font-weight: 400;
            line-height: 80px;
        }
        #div_main{
            display: flex;
            flex-flow: column;
        
        }
        .control_div{
            background-color: var(--color_div_main);
            width: 300px;
            height: 370px;
            margin-left: 30px;
            border-radius: 10px;
            display: inline-block;
            box-shadow: 1px 2px 2px gray;
            margin: auto;
            margin-top: 40px;
        }
        .control_img{
            width: 300px;
            height: 150px;
            display: flex;
            margin: auto;
            position: relative;
            border-radius: 10px 10px 0px 0px;
        }
        .control_titulo{
            text-align: center;
        }
        .control_p{
            text-align: justify;
            position: relative;
            text-align: center;
            margin-left: 10px;
            margin-right: 10px;
        }
        
        .button > a{
            text-decoration: none;
            color: white;
        }
        .button{
            background-color: var(--color_button);
            height: 30px;
            width: 100px;
            border-radius: 30px;
            position: relative;
            left: 60%;
            border: 10px;
        }
        .button:hover{
            background-color: #038b97;
            pointer-events: stroke;
        }
        #what_img{
            height: 90px;
            width: 90px;
            float: right;
            position: fixed;
            right: 1%;
            bottom: 40px;
        }
        #what_img:hover{
            opacity: 80%;
        }
        
        /*Configurações da Div 1 do corpo*/
        
        #control_div_1{
            margin-top: 100px;
            width: auto;
            margin-left: 18%;
            margin-right: 18%;
            
        }
        #control_div_1 > h1{
            border-bottom: 1px solid rgba(0, 0, 0, 0.144);
            text-align: center;
            line-height: 40px;
        }
        #control_div_1 > p{
            margin-top: 80px;
            font-size: 20px;
            font-weight: 200;
        }
        #control_div_1 > button{
            background-color: var(--color_button);
            height: 40px;
            width: 120px;
            border-radius: 30px;
            position: relative;
            border: 10px;
        }
        #control_div_1_a{
            text-decoration-line: none;
            color: white;
        }
        
        /*Configurações da Div 2 do corpo*/
        
        #control_div_2{
            margin-top: 180px;
            width: auto;
            margin-left: 18%;
            margin-right: 18%;
        }
        #control_div_2 > h1{
            border-bottom: 1px solid rgba(0, 0, 0, 0.144);
            text-align: center;
            margin-bottom: 80px;
        }
        #control_div_2 > ul > li{
            font-size: 20px;
            font-weight: 200;
        }

        /* Configurações Div de página de pesquisa*/

        #pesq{
            background-color: white;
            margin: auto;
            width: 350px;
            height: 250px;
            border: solid 1px black;
            border-radius: 20px 4px 20px 4px;
            box-shadow: 1px 2px 2px black;
        }

        #h1pesq{
            margin-top: -30px;
            margin-bottom: 50px;
            line-height: 40px;
        }
        #ppesq{
            text-align: justify;
            padding: 10px;
        }
        #bntpesq{
            background-color: var(--color_button);
            height: 30px;
            width: 100px;
            border-radius: 30px;
            border: 10px;
            display: block;
            margin: auto;
        }
        #bntpesq:hover{
            background-color: #038b97;
            pointer-events: stroke;
        }
        #apesq{
            text-decoration: none;
            color: white;
        }
        
        /* Rodapé */
        
        footer{
            background-color: var(--color_rodape);
            margin-top: 40px;
            margin-bottom: 20px;
            height: 200px;
            width: 100%;
            box-shadow: 1px 1px 5px black;
        }
        #control_div_rod{
            display: flex;
            justify-content: left;
        }
        #img_rodape{
            height: 180px;
            width: 180px; 
            border-radius: 20px;
        }
        .control_titulo_rod{
            font-weight: 400;
            border-bottom: 1px solid rgba(0, 0, 0, 0.144);
            font-size: 18px;
        }
        #control_div_rod_1{
            
            right: 50px;
            width: 200px;
            margin: auto;
        }
        #control_div_rod_2{
            position: relative;
            width: auto;
            top: 20px;
            line-height: 40px;
            font-size: 75%;
        }
        #control_div_rod_3{
            position: relative;
            width: auto;
            top: 20px;
            line-height: 40px;
            left: 25px;
            font-size: 75%;
        }
        .rod_img{
            height: 20px;
            width: 20px;
            position:relative;
            right: 2px
        }
        .link_redes{
            text-decoration-line:none;
            color: black;
        
        }
        .link_redes:hover{
            color: var(--color_hover);
        }
    }


    /*Configuração para telas menos que tablets*/

@media screen and (max-width: 640px) and (min-width: 300px){
    
        
        /* Estilo Geral */
        body{
            margin: 0px;
            padding: 0px;
            background-color: var(--color_pagina);
            width: 100%;
        }
        
        /* Estilo cabeçalho */
        
        header{
            height: 350px;
            width: 100%;
            margin-top: 1%;
            background-color: var(--color_nav);
            box-shadow: 1px 1px 3px black;
        }
        
        #logo{
            height: 200px;
            width: 200px;
            border-radius: 5px 25px 5px 25px;
            display: block;
            margin: auto;
            
        }
        #titulo{
            text-align: center;
            position: relative;
            font-size: 25px;
            font-weight: lighter;
            margin-bottom: 30px;
            
        }
        nav{
            position: absolute;
            left: 5%;
            top: 320px;
        }
        nav a{
            text-decoration: none;
            font-size: large;
            position: relative;
            margin-left: 30px;
            color: var(--color_menu_nav);
        }
        nav a:hover{
            color: var(--color_hover);
        }
        #home{
            position: absolute;
            height: 40px;
            width: 40px;
            left: -15px;
            top: -7px;
        }
        
        
        /*Corpo da Página*/
        /*Configurações da Div das imagens dentro de cards no corpo*/
        
        main{
            background-color: var(--color_main); 
            height: auto;
            margin: auto;
            border-radius: 10px;
            width: 90%;
        }
        main h1{
            text-align: center;
            position: relative;
            top: 40px;
            font-weight: 400;
            line-height: 80px;
        }
        #div_main{
            display: flex;
            flex-flow: column;
        
        }
        .control_div{
            background-color: var(--color_div_main);
            width: 300px;
            height: 370px;
            margin-left: 30px;
            border-radius: 10px;
            display: inline-block;
            box-shadow: 1px 2px 2px gray;
            margin: auto;
            margin-top: 40px;
        }
        .control_img{
            width: 300px;
            height: 150px;
            display: flex;
            margin: auto;
            position: relative;
            border-radius: 10px 10px 0px 0px;
        }
        .control_titulo{
            text-align: center;
        }
        .control_p{
            text-align: justify;
            position: relative;
            text-align: center;
            margin-left: 10px;
            margin-right: 10px;
        }
        
        .button > a{
            text-decoration: none;
            color: white;
        }
        .button{
            background-color: var(--color_button);
            height: 30px;
            width: 100px;
            border-radius: 30px;
            position: relative;
            left: 60%;
            border: 10px;
        }
        .button:hover{
            background-color: #038b97;
            pointer-events: stroke;
        }
        #what_img{
            height: 90px;
            width: 90px;
            float: right;
            position: fixed;
            right: 1%;
            bottom: 40px;
        }
        #what_img:hover{
            opacity: 80%;
        }
        
        /*Configurações da Div 1 do corpo*/
        
        #control_div_1{
            margin-top: 100px;
            width: auto;
            margin-left: 18%;
            margin-right: 18%;
            
        }
        #control_div_1 > h1{
            border-bottom: 1px solid rgba(0, 0, 0, 0.144);
            text-align: center;
            line-height: 40px;
        }
        #control_div_1 > p{
            margin-top: 80px;
            font-size: 20px;
            font-weight: 200;
        }
        #control_div_1 > button{
            background-color: var(--color_button);
            height: 40px;
            width: 120px;
            border-radius: 30px;
            position: relative;
            border: 10px;
        }
        #control_div_1_a{
            text-decoration-line: none;
            color: white;
        }
        
        /*Configurações da Div 2 do corpo*/
        
        #control_div_2{
            margin-top: 180px;
            width: auto;
            margin-left: 18%;
            margin-right: 18%;
        }
        #control_div_2 > h1{
            border-bottom: 1px solid rgba(0, 0, 0, 0.144);
            text-align: center;
            margin-bottom: 80px;
        }
        #control_div_2 > ul > li{
            font-size: 20px;
            font-weight: 200;
        }

        /* Configurações Div de página de pesquisa*/

        #pesq{
            background-color: white;
            margin: auto;
            width: 350px;
            height: 250px;
            border: solid 1px black;
            border-radius: 20px 4px 20px 4px;
            box-shadow: 1px 2px 2px black;
        }

        #h1pesq{
            margin-top: -30px;
            margin-bottom: 50px;
            line-height: 40px;
        }
        #ppesq{
            text-align: justify;
            padding: 10px;
        }
        #bntpesq{
            background-color: var(--color_button);
            height: 30px;
            width: 100px;
            border-radius: 30px;
            border: 10px;
            display: block;
            margin: auto;
        }
        #bntpesq:hover{
            background-color: #038b97;
            pointer-events: stroke;
        }
        #apesq{
            text-decoration: none;
            color: white;
        }
        
        /* Rodapé */
        
        footer{
            background-color: var(--color_rodape);
            margin-top: 40px;
            margin-bottom: 20px;
            height: 200px;
            width: 100%;
            box-shadow: 1px 1px 5px black;
        }
        #control_div_rod{
            display: flex;
            justify-content: left;
        }
        #img_rodape{
            height: 180px;
            width: 180px; 
            border-radius: 20px;
        }
        .control_titulo_rod{
            font-weight: 400;
            border-bottom: 1px solid rgba(0, 0, 0, 0.144);
            font-size: 18px;
        }
        #control_div_rod_1{
            
            right: 50px;
            width: 200px;
            margin: auto;
        }
        #control_div_rod_2{
            position: relative;
            width: auto;
            top: 20px;
            line-height: 40px;
            font-size: 75%;
        }
        #control_div_rod_3{
            position: relative;
            width: auto;
            top: 20px;
            line-height: 40px;
            left: 25px;
            font-size: 75%;
        }
        .rod_img{
            height: 20px;
            width: 20px;
            position:relative;
            right: 2px
        }
        .link_redes{
            text-decoration-line:none;
            color: black;
        
        }
        .link_redes:hover{
            color: var(--color_hover);
        }
    }